flows.json
[
    {
        "id": "863088f8.da82d8",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3470461f.22a2aa",
        "type": "ui_form",
        "z": "863088f8.da82d8",
        "name": "",
        "label": "",
        "group": "28c8935a.465fbc",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "BMI",
                "value": "a",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "HIV/AIDS",
                "value": "b",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "thinness 1-19 years",
                "value": "c",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "thinness 5-9 years",
                "value": "d",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Adult mortality",
                "value": "e",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Alcohol",
                "value": "f",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Country",
                "value": "g",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Diptheria",
                "value": "h",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "GDP",
                "value": "i",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Hepatitis B",
                "value": "j",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Income compositio",
                "value": "k",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Measles",
                "value": "l",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Polio",
                "value": "m",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Population",
                "value": "n",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Schooling",
                "value": "o",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Status",
                "value": "p",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Total expenditure",
                "value": "q",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Year",
                "value": "r",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "infant deaths",
                "value": "s",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "percentage expenditure",
                "value": "t",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "under-five deaths",
                "value": "u",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "a": "",
            "b": "",
            "c": "",
            "d": "",
            "e": "",
            "f": "",
            "g": "",
            "h": "",
            "i": "",
            "j": "",
            "k": "",
            "l": "",
            "m": "",
            "n": "",
            "o": "",
            "p": "",
            "q": "",
            "r": "",
            "s": "",
            "t": "",
            "u": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "x": 160,
        "y": 100,
        "wires": [
            [
                "a4e53f08.8063a"
            ]
        ]
    },
    {
        "id": "a4e53f08.8063a",
        "type": "function",
        "z": "863088f8.da82d8",
        "name": "pre token",
        "func": "global.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f); \nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\nglobal.set(\"u\",msg.payload.u);\n//Following are required to recieve a token\nvar apikey = \"h2Xe3zloAt11q7zKAPyxcPpHUEX22-gLgO5JElgagKjz\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload = {\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 120,
        "wires": [
            [
                "d74c79e.6807488"
            ]
        ]
    },
    {
        "id": "d74c79e.6807488",
        "type": "http request",
        "z": "863088f8.da82d8",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://iam.cloud.ibm.com/identity/token",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "x": 560,
        "y": 160,
        "wires": [
            [
                "52d067bc.82fcb8"
            ]
        ]
    },
    {
        "id": "52d067bc.82fcb8",
        "type": "function",
        "z": "863088f8.da82d8",
        "name": "send to end point",
        "func": "//get token and make headers\nvar token = \nmsg.payload.access_token;\nvar instance_id=\"3b134c30-ce9f-4c62-afa4-e43e07259bb8\";\nmsg.headers = {'content-Type':'application/jason',\"Authorization\":\"Bearer\"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\nvar u = global.get(\"u\");\n\n\n\n//send the user values to service end point\nmsg.payload = \n        {\"fields\":[\"BMI\",\"HIV/AIDS\",\"thinness 1-19 years\",\n        \"thinness 5-9 years\",\"Adult Mortality\",\n        \"Alcohol\",\"Country\",\"Diptheria\",\"GDP\",\n        \"Hepatitis B\",\n        \"Income composition of resources\",\n        \"Measles\",\"Polio\",\"Population\",\"Schooling\",\"Status\",\n        \"Total expenditure\",\"Year\",\n        \"infant deaths\",\"percentange expenditure\",\n        \"under-five deaths\"],\n             \"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u]]};\n             \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 770,
        "y": 200,
        "wires": [
            [
                "be3ea10d.860a6"
            ]
        ]
    },
    {
        "id": "be3ea10d.860a6",
        "type": "http request",
        "z": "863088f8.da82d8",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://us-south.ml.cloud.ibm.com",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 650,
        "y": 280,
        "wires": [
            [
                "cd3d1056.d4823",
                "7f3fc87.5e39038"
            ]
        ]
    },
    {
        "id": "6f9064e8.41d3dc",
        "type": "debug",
        "z": "863088f8.da82d8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 830,
        "y": 440,
        "wires": []
    },
    {
        "id": "cd3d1056.d4823",
        "type": "debug",
        "z": "863088f8.da82d8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 790,
        "y": 340,
        "wires": []
    },
    {
        "id": "7f3fc87.5e39038",
        "type": "function",
        "z": "863088f8.da82d8",
        "name": "getfrom endpoint",
        "func": "msg.payload = msg.payload.values[0][0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 400,
        "wires": [
            [
                "6f9064e8.41d3dc",
                "3bcad203.0695fe"
            ]
        ]
    },
    {
        "id": "3bcad203.0695fe",
        "type": "ui_text",
        "z": "863088f8.da82d8",
        "group": "28c8935a.465fbc",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "prediction",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 780,
        "y": 520,
        "wires": []
    },
    {
        "id": "28c8935a.465fbc",
        "type": "ui_group",
        "z": "",
        "name": "machine learning",
        "tab": "483e04cc.a0bedc",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "483e04cc.a0bedc",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "machine learning",
        "disabled": false,
        "hidden": false
    }
]